/* Background */
.background {
  background-image: url("../../public/glassesImage/background.jpg");
  background-size: cover;
  background-position: center;
}

/* Model */
.modelComponent {
  margin: 30px auto;
  width: 30%;
  position: relative;
}

.modelComponent img {
  width: 100%;
}

.modelComponent .glass {
  position: absolute;
  width: 58%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.modelComponent .content_info {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.25rem;
  text-align: left;
  background-color: rgba(246, 186, 100, 0.45);
  width: 100%;
}
.modelComponent .content_info h1 {
  color: blue;
  font-size: 2.5rem;
}
.modelComponent .content_info h2 {
  color: green;
  font-size: 2rem;
}
